@import "bootstrap/scss/bootstrap";

$display-font-weight: bold;

@import "bootstrap";

$light-red: #FDBCB4;
$red: #A21520;
$light-blue: #89CFF0;
$blue: #002E5D;
$light-yellow: #FFFF99;
$yellow: #CC9900;
$primary-font: Montserrat, sans-serif;
$highlight-font: Lora, serif;

body, .navbar {
  background-color: $light-red;
  font-family: $primary-font;
}

.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus {
  outline: none!important;
  border: none;
  box-shadow: none;
}

.menu-btn {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.nav-link, .nav-link:visited {
  font-family: $primary-font;
  color: white!important;
}

.nav-link:hover {
  color: $red!important;
}

h1, h2 {
  font-family: $highlight-font;
}

.btn-vintage {
  font-family: $highlight-font;
  font-weight: bold;
  color: $light-yellow;
  border-radius: 0;
}

.btn-vintage, .btn-vintage:hover, .btn-vintage:active, .btn-vintage:focus {
  background-color: $red!important;
  outline: none!important;
  border: none!important;
}

.features-section {
  background-color: $light-blue;
  color: $blue;

  .icon {
    font-size: 4rem;
    font-weight: bold;
  }
}

.product-details-section {
  background-color: $light-yellow;
  color: $yellow;
}

.carousel-indicators {
  align-items: center;
  gap: 1.75rem;

  button {
    background-color: $yellow!important;
    height: 20px!important;
    width: 20px!important;
    border-radius: 50%;
  }

  .active {
    background-image: url("../assets/cap.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent!important;
    height: 50px!important;
    width: 50px!important;
    border-radius: 0;
  }
}

.last-call-section {
  background-color: $light-blue;
}

.footer {
  background-color: $red;
  color: $light-red;

  h4 {
    font-family: $highlight-font;
  }

  a, a:visited, button {
    color: $light-red!important;
  }

  a:hover {
    color: white!important;
  }

  input, input:focus {
    background-color: $light-red;
    color: $red;
    border: none;
    border-radius: 0;
    outline: none!important;
    box-shadow: none;
  }

  input::placeholder {
    color: $red;
  }

  button {
    font-family: $highlight-font;
    background-color: $yellow;
    color: $light-yellow!important;
    border-radius: 0;
    border: none;
  }

  button:hover, button:active {
    background-color: $yellow!important;
    color: white!important;
  }
}
